<div class="mx-1 flex flex-col-reverse gap-1 shadow-2xl">
    @for (item of messages$ | async; track $index) {
        <mat-card [ngClass]="{'error' : item.type === 'error'}" >
            <mat-card-actions align="end">
                <button mat-mini-fab (click)="clearMessage(item.id)" >
                    <lucide-icon name="x"></lucide-icon>
                </button>
              </mat-card-actions>
    
            <mat-card-content>
                <p  [ngClass]="{'text-white' : item.type === 'error'}" >
                    {{item.text }}
                </p>
            </mat-card-content>
        </mat-card>
    }
</div>    

