<section class="w-full py-8">
    <h2 class="mx-12 my-8">100 Day&apos;s Productivity</h2>

    <div class="grid 2xl:grid-cols-12">
        <div class="overflow-x-scroll 2xl:overflow-x-hidden slider-container 2xl:col-span-10 py-2 my-8">
            <app-todo-heat-map/>
        </div>
        <div class="2xl:col-span-2 ">
            <app-todo-heat-map-filter/>
        </div>
    </div>
    
</section>


<section class="w-full p-4 min-h-[600px]">
    <h2 class="py-8 ">My Task</h2>

    <div class="flex flex-wrap gap-x-4 gap-y-2 py-8">
        <div class="my-4">
            <h5 class="bold block mb-4 ">
                Completed
            </h5>
            <app-todo-completed-filter/>
        </div>

        <div class="my-4">
            <h5 class="bold block mb-4 ">
                Priority
            </h5>
            <app-todo-priority-filter/>
        </div>
    </div>

    <div class="py-8">
        <app-todo-container/>
    </div>

    <div class="py-8">
        <button role="link" routerLink="/todo/my-task" mat-raised-button> 
            More Task
        </button>
    </div>

</section>
