@use 'sass:map';
@use '@angular/material' as mat;

$_palettes: (
  primary: (
    0: #000000,
    10: #1f1c00,
    20: #353100,
    25: #413d00,
    30: #4d4800,
    35: #595400,
    40: #666000,
    50: #817900,
    60: #9c9400,
    70: #b9ae00,
    80: #d6ca00,
    90: #f4e700,
    95: #fff575,
    98: #fffae1,
    99: #fffbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #0d2000,
    20: #1a3700,
    25: #214400,
    30: #295000,
    35: #305d00,
    40: #386b00,
    50: #488600,
    60: #58a300,
    70: #69c000,
    80: #7adf00,
    90: #93fc2c,
    95: #d0ffa4,
    98: #efffda,
    99: #f8ffea,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #1e1b1b,
    20: #333030,
    25: #3e3b3b,
    30: #4a4646,
    35: #555152,
    40: #625d5d,
    50: #7b7676,
    60: #958f8f,
    70: #b0aaaa,
    80: #cbc5c5,
    90: #e8e1e1,
    95: #f6efef,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    4: #0b0b0b,
    6: #101110,
    10: #1b1c1b,
    12: #1f201f,
    17: #2a2a29,
    20: #30302f,
    22: #343433,
    24: #393938,
    25: #3b3b3a,
    30: #464746,
    35: #525251,
    40: #5e5e5d,
    50: #777776,
    60: #91918f,
    70: #acaba9,
    80: #c8c6c4,
    87: #dcdad8,
    90: #e4e2e0,
    92: #eae8e6,
    94: #efedeb,
    95: #f2f0ee,
    96: #f5f3f1,
    98: #fbf9f7,
    99: #fefcfa,
    100: #ffffff,
  ),
  neutral-variant: (
    0: #000000,
    10: #1e1c09,
    20: #33311d,
    25: #3e3c27,
    30: #4a4731,
    35: #56533c,
    40: #625f47,
    50: #7b785f,
    60: #959177,
    70: #b0ac90,
    80: #ccc7aa,
    90: #e8e3c5,
    95: #f7f1d3,
    98: #fffae1,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes,  neutral-variant),
  error: map.get($_palettes, error),
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: $_primary,
    tertiary: $_tertiary,
  ),
  density: (
    scale: -3
  ),

));

$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: $_primary,
    tertiary: $_tertiary,
  ),
  density: (
    scale: -3
  ),
));

