
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body {
     margin: 0;
     font-family: Inter, "Helvetica Neue", sans-serif; 
     background-color: whitesmoke;
}

:root{
     --head-one: 47.78px;
     --head-two: 39.81px;
     --head-three: 33.18px;

     --heading-one: 27.65px;
     --heading-two: 23.04px;
     --heading-three: 19.2px;

     --para: 16px;
     --para-small: 13.33px;
     --para-extra-small: 11.1px;

     /* --netral */

     --text: #262626;
     --heading: #404040;

     --primary-one: #FFFF33;
     --primary-two: #FFFF66;
     --primary-three: #CCCC00;

     --secondary-one: #7EE500;
     --secondary-two: #98FF1A;
     --secondary-three: #62B200;

     --tertiary-one: #8F8A8A;
     --tertiary-two: #B4B1B1;
     --tertiary-three: #857A7A;

     --priority-one: #565FDC;
     --priority-two: #888EDD;
     --priority-three: #D7D9F4;

     --natural-one: #F8F6F4;
     --natural-two: #E3F4F4;
     --natural-three: #D2E9E9;

     
}

h1{
     font-size: var(--head-one);
}

h2{
     font-size: var(--head-two);
}

h3{
     font-size: var(--head-three);
}

h4{
     font-size: var(--heading-one);
}

h5{
     font-size: var(--heading-two);
}

h6{
     size: var(--heading-three);
}

h1,h2,h3,h4,h5,h6{
     font-weight: 700;
     color: var(--heading);
}


*{
     font-size: var(--para-small) ;
     font-weight: 500;
     color: var(--text);
}

.extra-small{
     font-size: var(--para-extra-small);
     font-weight: 700;
}

.bold{
   font-weight: 900;
}

p{
   font-weight: 400;  
}