.NgxEditor{
    min-height: 800px ;
}

.NgxEditor__Wrapper{
    border: none !important;
    background: transparent;
}

option{
    padding: 0.25rem 0.5rem;
}

// input{
//     background: transparent;
// }

